<!-- Modal -->
<input type="checkbox" id="showModal" class="d-none" title="checkbox" #showImageToggle>
<section class="modal__gallery">
    <div class="modal__head">
        <label for="showModal" class="modal__close"></label>
        <label for="showDescription" class="btn btn-outline-light showDescription" #showDescriptionBtn>Descripción</label>
    </div>
    <div class="imageContainer">
        <figure class="imageContent">
            <img src="" alt="Imagen" #imageMain>
            <input type="checkbox" id="showDescription" class="d-none">
            <div class="descriptionContainer" #imageDescription></div>
        </figure>
    </div>
</section>
<!-- Content -->
<h2 class="container-css mt-5">Nuestra galería</h2>
<p class="container-css paragraph-description text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus deleniti recusandae corrupti vero ab ut?</p>
<section class="container-css gallery">
    <figure class="gallery__item"><div class="gallery__description"></div><img data-description="" class="gallery__img" src="https://images.pexels.com/photos/67236/cow-animal-brown-animals-67236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><img data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit." class="gallery__img" src="https://images.pexels.com/photos/288621/pexels-photo-288621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><img data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit." class="gallery__img" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description"></div><img data-description="" class="gallery__img" src="https://images.pexels.com/photos/3912364/pexels-photo-3912364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><img data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit." class="gallery__img" src="https://images.pexels.com/photos/110820/pexels-photo-110820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><img data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit." class="gallery__img" src="https://images.unsplash.com/photo-1476916713558-2842194a8e49?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description"></div><img data-description="" class="gallery__img" src="https://images.pexels.com/photos/422218/pexels-photo-422218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description"></div><img data-description="" class="gallery__img" src="https://images.pexels.com/photos/5726794/pexels-photo-5726794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
    <figure class="gallery__item"><div class="gallery__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><img data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit." class="gallery__img" src="https://images.pexels.com/photos/10065068/pexels-photo-10065068.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="calabaza"></figure>
</section>