<!-- Modal -->
<input type="checkbox" id="showModal" class="d-none" title="checkbox" #showImageToggle>
<section class="modal__gallery">
    <div class="modal__head">
        <label for="showModal" class="modal__close"></label>
        <label for="showDescription" class="btn btn-outline-light showDescription" #showDescriptionBtn>Descripción</label>
    </div>
    <div class="imageContainer">
        <figure class="imageContent">
            <img src="" alt="Imagen" #imageMain>
            <input type="checkbox" id="showDescription" class="d-none">
            <div class="descriptionContainer" #imageDescription></div>
        </figure>
    </div>
</section>
<!-- Content -->
<h2 class="container-css mt-5" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[0]">{{pageData.title}}</h2>
<p class="container-css paragraph-description text-center mt-3" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[1]">{{pageData.description}}</p>
<section class="container-css gallery pb-5">
    @for (image of pageData.images; track image.id) {
        <figure class="gallery__item" #ShowAnimationFB2TS [@fadeInFromBottomToTopScale]="animationStatesFB2TS[(image.id - 1)]">
            <div class="gallery__description">{{image.description}}</div>
            <img class="gallery__img" src="{{image.url}}" alt="{{image.description}}">
        </figure>
    }
</section>