<div class="container-css mt-4 mb-5">
    <h4>Productores</h4>
    <ul>
        <li>Productores de calabaza chihua</li>
        <li>Ganaderos dedicados a la engorda de sus animales</li>
        <li>Alianzas estratégicas con empresas del sector agropecuario.</li>
        <li>Empresas productoras de alimentos para animales.</li>
    </ul>
    <hr>
    <h4>Proceso</h4>
    <ul>
        <li>Etapas</li>
        <li>Tecnología</li>
        <li>Control de calidad</li>
    </ul>
    <hr>
    <h4>Distribución</h4>
    <ul>
        <li>Canales</li>
        <li>Logística</li>
        <li>Cobertura</li>
    </ul>
    <hr>
    <h4>Cliente</h4>
    <ul>
        <li>Atención al cliente</li>
        <li>Soporte tecnico</li>
        <li>Feedback</li>
    </ul>
</div>