.icon-css {
    color: var(--theme-color);
}

.picture-local {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 1em;
    overflow: hidden;

    & > img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;
    }
}

.picture-float {
    width: 250px;
    height: 150px;
}

.info__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1em;
}

.info__container--client {
    margin-bottom: 5em;
}

.info__item {
    max-width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.info__item--flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.info__item--flex  > i {
    font-size: 5em;
    margin: 0 auto;
}

.section-process {
    background-image: url('https://images.pexels.com/photos/355948/pexels-photo-355948.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-color: #0007;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    padding: 2em 0;
    margin: 4em 0 2.5em;
}

.section-process h3, .section-process h4, .section-process p, .section-process ol > li {
    color: #fff;
}

.section-process__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.section-process__item {
    width: 350px;
}

.section-process__item h4 {
    margin: 0.4em 0 0.15em;
    text-align: center;
}

.section-process__picture {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (min-width: 992px) {
    .picture-float {
        float: left;
        margin: 0 1.3em 0 0;
    }

    .info__item {
        width: 49%;
    }

    .info__item--flex {
        flex-wrap: nowrap;
    }
}