<h3 class="container-css text-center mt-5 mb-5" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[0]">Versatilidad</h3>
<section class="container-css details-info" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[1]">
    <picture class="details-info__picture"><img src="https://images.pexels.com/photos/1153756/pexels-photo-1153756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Product"></picture>
    <div class="details-info__texts">
        <div>
            <p>EcoHarina, gracias a su perfil nutricional completo y su naturaleza versátil, se ha convertido en un ingrediente esencial en la alimentación animal. Su capacidad para adaptarse a diferentes especies y etapas de crecimiento la convierte en una herramienta valiosa para los productores ganaderos.</p>
        </div>
        <div>
            <p><b>Sectores en la Ganadería:</b></p>
            <ul>
                <li>Bovino</li>
                <li>Porcino</li>
                <li>Aves de corral</li>
                <li>Equinos</li>
            </ul>
        </div>
    </div>
</section>
<section class="sustainability">
    <h3 class="container-css text-center mb-4" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[2]">Sostenibilidad</h3>
    <div class="container-css sustainability__content">
        <div #ShowAnimationFL2R [@fadeInFromLeftToRight]="animationStatesFL2R[0]">
            <h4>Sostenibilidad Ambiental</h4>
            <p>El valor ambiental de EcoHarina radica en convertir residuos agrícolas de calabaza chihua en un producto útil, lo que reduce los desechos orgánicos y la emisión de metano. Al usar recursos locales y evitar transportes largos, se disminuye la huella de carbono. La producción puede integrarse en la agricultura regenerativa, mejorando la salud del suelo y la captura de carbono.</p>
        </div>
        <div #ShowAnimationFR2L [@fadeInFromRightToLeft]="animationStatesFR2L[0]">
            <h4>Sostenibilidad Social</h4>
            <p>La producción de EcoHarina puede impulsar la economía rural al generar empleos y fijar a la población en el campo. Al crear un mercado para los residuos de calabaza, mejora la rentabilidad de los agricultores y promueve prácticas agrícolas sostenibles. Además, el desarrollo de una cadena de valor local alrededor de la calabaza chihua fortalece la economía rural.</p>
        </div>
        <div #ShowAnimationFL2R [@fadeInFromLeftToRight]="animationStatesFL2R[1]">
            <h4>Sostenibilidad Económica</h4>
            <p>Es crucial llevar a cabo un análisis económico detallado para asegurar la viabilidad a largo plazo de EcoHarina, evaluando costos de producción, precios de venta, márgenes de beneficio y demanda del mercado. La venta de los residuos de calabaza a un precio justo puede proporcionar ingresos adicionales a los agricultores, diversificando sus fuentes de ingresos y disminuyendo su dependencia de un solo cultivo.</p>
        </div>
        <div #ShowAnimationFR2L [@fadeInFromRightToLeft]="animationStatesFR2L[1]">
            <h4>Sostenibilidad Cultural</h4>
            <p>Al promover el uso de un producto local como la calabaza chihua, se contribuye a valorizar la biodiversidad y los conocimientos tradicionales asociados a este cultivo. Además la producción de EcoHarina puede fortalecer la identidad local y generar un sentido de orgullo por los productos regionales.</p>
        </div>
    </div>
</section>
<h3 class="container-css text-center mb-5" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[3]">Información nutrimental</h3>
<section class="container-css details-info details-info--reverse" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[4]">
    <picture class="details-info__picture"><img src="/assets/ecoharina-product.png" alt="Product"></picture>
    <div class="details-info__texts">
        <div>
            <h4>Descripción</h4>
            <p>EcoHarina es un producto que contiene: <b>Fibra del 9%, Cenizas totales con un 9%, Grasas totales del 6% y 4 porciento de Proteína</b>, una actividad de agua 0.4, ideal para evitar la proliferación de microorganismos.</p><br>
            <p>La calabaza chihua, materia prima de EcoHarina contiene betacarotenos precursores de <b>vitamina A</b>, además de tener propiedades antioxidantes, <b>vitamina B y C</b>, ácido fólico, potasio, acido glutámico y otros aminoácidos. contiene además minerales, tiamina, riboflavina, niacina y acido ascórbico.</p>
        </div>
        <div>
            <h4>Beneficios principales</h4>
            <ul>
                <li>Mejora de la coloración de la yema en huevos de gallinas.</li>
                <li>Mejora de la coloración de las aves.</li>
                <li>Ayuda al pelaje en general de los animales y antioxidantes naturales.</li>
            </ul>
        </div>
    </div>
</section>
<h3 class="container-css text-center mb-4" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[5]">Preguntas frecuentes</h3>
<div class="accordion container-css mb-7" id="Accordion" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[6]">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Existen estudios científicos que respalden los beneficios de la EcoHarina en la alimentación animal?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#Accordion">
            <div class="accordion-body">
                Sí, se han realizados estudios bromatológicos como los reportados por Ruiz et al. (2020); también Camargo y González (2020) <b>quienes realizaron el estudio bromatológico a la pulpa</b> de 5 variedades de calabazas, una de ellas calabaza chihua (Cucurbita argyrosperma Huber).<br><br>
                También Dorantes et al., 2016, realizaron deshidratados de calabaza chihua, <b>encontrado la proporción misma de materia seca y contenido nutracéutico.</b><br><br>
                Finalmente, Valdez (2020), quien <b>incorporó residuos de calabaza a la dieta de bovinos</b>, registrando su impacto nutricional en su trabajo de tesis para maestría.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Cuáles son los beneficios de incorporar EcoHarina a la alimentación del ganado?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#Accordion">
            <div class="accordion-body">
                Los beneficios de EcoHarina son enormes y ayudan entre otras cosas a: mejorar la salud y bienestar animal, optimizar el rendimiento productivo, reduce costos y mejora la rentabilidad, mejora la seguridad alimentaria, y propicia beneficios al medio ambiente, al agua subterránea, suelo y aire.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Para qué tipo de ganado es adecuada la EcoHarina?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#Accordion">
            <div class="accordion-body">
                Ganadería productiva (porcinos, bovinos y caprinos) y avícola.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ¿Cómo influye la EcoHarina en la calidad de la carne, leche o huevos?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#Accordion">
            <div class="accordion-body">
                En la carne de animales, se ha demostrado que los betacarotenos influyen en la pigmentación de carne, para la producción de leche la calabaza chihua ha demostrado influir benéficamente, y en la yema de los huevos la pigmentación de esta es mayor.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                ¿Se puede combinar la EcoHarina con otros alimentos para el ganado?
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#Accordion">
            <div class="accordion-body">
                Por supuesto, es un suplemento compatible ya que no posee ningún ingrediente químico que reaccione con la dieta de tus animales.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                ¿Cómo afecta la EcoHarina al medio ambiente?
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#Accordion">
            <div class="accordion-body">
                No tiene afectaciones, por 2 razones:<br><br>
                <ol>
                    <li>Su proceso productivo no genera residuos al ambiente.</li>
                    <li>El residuo de calabaza chihua se recoge de campo y esta materia orgánica deja de ser un residuo problema para el agua, el suelo y el aire.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                ¿Existen restricciones legales para la producción y comercialización de EcoHarina?
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#Accordion">
            <div class="accordion-body">
                En México y en el estado de Tabasco no existen restricciones para la comercialización de residuos agrícolas, sino por el contrario, existen fundamentos legales para la producción y comercialización de materia prima local, de origen natural como lo es EcoHarina.
            </div>
        </div>
    </div>
</div>