<header>
    <nav class="navbar-css">
        <input type="checkbox" id="nav-check" #navCheck>
        <label for="nav-check" class="menu__label">
            <img src="/assets/close.svg" alt="close" class="menu__hamburguer menu__hamburguer--close">
            <img src="/assets/menu.svg" alt="menu" class="menu__hamburguer menu__hamburguer--show">
        </label>
        <div class="container-css">
            <a [routerLink]="['']" (click)="onPageChange();" class="nav__logo" [ngClass]="{'active': onCurrentPage('')}" @showScale><img src="/assets/ecoharina.png" alt="logocicoti"></a>
            <div class="nav__content" @fromRightToLeft>
                <div class="nav__links">
                    <a [routerLink]="['']" (click)="onPageChange();" [ngClass]="{'active': onCurrentPage('')}">Inicio</a>
                    <a [routerLink]="['value-chain']" (click)="onPageChange();" class="text-hover-theme" [ngClass]="{'active': onCurrentPage('value-chain')}">Cadena de valor</a>
                    <a [routerLink]="['our-product']" (click)="onPageChange();" [ngClass]="{'active': onCurrentPage('our-product')}">Nuestro producto</a>
                    <a [routerLink]="['gallery']" (click)="onPageChange();" [ngClass]="{'active': onCurrentPage('gallery')}">Galería</a>
                    <a [routerLink]="['about-us']" (click)="onPageChange();" [ngClass]="{'active': onCurrentPage('about-us')}">Sobre nosotros</a>
                </div>
            </div>
        </div>
    </nav>
    <app-hero [heroData]='heroData()' />
</header>
<main>
    <router-outlet />
</main>
<footer class="last-footer" style="background-image: url('/assets/parallax2.jpg');">
    <div class="container-css">
        <div class="last-footer__content" #ShowAnimationFB2T [@fadeInFromBottomToTop]="animationStatesFB2T[0]">
            <img src="/assets/ecoharina-light.png" alt="logo">
            <div>
                <p>Dirección:  Km. 3 carretera Balancán-Villahermosa, Balancán, Tabasco C.P. 86930</p>
                <p><a [routerLink]="['']" (click)="onPageChange();">EcoHarina</a> - &copy; Copyright 2024</p>
                <p>Desarrollado por: <a [routerLink]="['about-us']" (click)="onPageChange();">Equipo de EcoHarina</a></p>
            </div>
        </div>
        <div class="last-footer__contact">
            <p #ShowAnimationFL2R [@fadeInFromLeftToRight]="animationStatesFL2R[0]">Teléfono: <strong>(916) - 126 - 8346</strong></p>
            <div #ShowAnimationFR2L [@fadeInFromRightToLeft]="animationStatesFR2L[0]">
                <a href="https://www.facebook.com/profile.php?id=61564239909120" target="_blank" rel="noopener" class="contact__btn contact__btn--facebook" title="Facebook"></a>
                <a href="mailto:customer.support@ecoharina.site" class="contact__btn contact__btn--mail" title="Mail"></a>
                <a href="https://www.instagram.com/eco.harina/" target="_blank" rel="noopener" class="contact__btn contact__btn--youtube" title="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="last-footer__decoration">
        <div style="background-color: #ff76d5;"></div>
        <div style="background-color: #1ad688;"></div>
        <div style="background-color: #ffc600;"></div>
        <div style="background-color: #c40172;"></div>
        <div style="background-color: #990fff;"></div>
        <div style="background-color: #ff7500;"></div>
    </div>
</footer>