<header>
    <nav class="navbar-css">
        <input type="checkbox" id="nav-check" #navCheck>
        <label for="nav-check" class="menu__label">
            <img src="/assets/close.svg" alt="close" class="menu__hamburguer menu__hamburguer--close">
            <img src="/assets/menu.svg" alt="menu" class="menu__hamburguer menu__hamburguer--show">
        </label>
        <div class="container-css">
            <a [routerLink]="['']" (click)="onPageChange();" class="nav__logo"><img src="/assets/ecoharina.png" alt="logocicoti"></a>
            <div class="nav__content">
                <div class="nav__links">
                    <a [routerLink]="['']" (click)="onPageChange();">Inicio</a>
                    <a [routerLink]="['value-chain']" (click)="onPageChange();" class="text-twinkle text-hover-theme">Cadena de valor</a>
                    <a [routerLink]="['gallery']" (click)="onPageChange();" class="text-hover-theme">Galería</a>
                    <a [routerLink]="['our-product']" (click)="onPageChange();">Nuestro producto</a>
                    <a [routerLink]="['about-us']" (click)="onPageChange();">Sobre nosotros</a>
                </div>
            </div>
        </div>
    </nav>
    <app-hero [heroData]='heroData()' />
</header>
<main>
    <router-outlet />
</main>
<footer class="last-footer" style="background-image: url('/assets/parallax2.jpg');">
    <div class="container-css">
        <div class="last-footer__content">
            <img src="/assets/ecoharina-light.png" alt="logo">
            <div>
                <p>Dirección:  Km. 3 carretera Balancán-Villahermosa, Balancán, Tabasco C.P. 86930</p>
                <p><a>EcoHarina</a> - &copy; Copyright 2024</p>
                <p>Desarrollado por: <a>Equipo de EcoHarina</a></p>
            </div>
        </div>
        <div class="last-footer__contact">
            <p>Teléfono: <strong>(916) - 126 - 8346</strong></p>
            <div>
                <a class="contact__btn contact__btn--facebook" title="Facebook"></a>
                <a class="contact__btn contact__btn--mail" title="Mail"></a>
                <a class="contact__btn contact__btn--youtube" title="Instagram"></a>
            </div>
        </div>
    </div>
    <div class="last-footer__decoration">
        <div style="background-color: #ff76d5;"></div>
        <div style="background-color: #1ad688;"></div>
        <div style="background-color: #ffc600;"></div>
        <div style="background-color: #c40172;"></div>
        <div style="background-color: #990fff;"></div>
        <div style="background-color: #ff7500;"></div>
    </div>
</footer>